@use "@/assets/styles/mixins.scss" as *;
@use "@/assets/styles/variables.scss" as *;

h1, h2, h3 {
  font-family: $font-main;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent, #029F59);
}
