$color-bg-white: #fff;
$color-bg-dark : #254741;
$color-accent  : #029f59;
$color-gray    : #999;

$font-main   : 'Open Sans',  sans-serif;
$font-accent : 'Montserrat', sans-serif;

$container-padding: 20px 5%;

$breakpoint-desktop: 1200px;
$breakpoint-tablet :  920px;
$breakpoint-mobile :  600px;
